reinforcers.csv
media/audio/6chip.mp3
reinforcers.csv
reinforcers.csv~
media/PNG_dice/1.png
media/PNG_dice/1b.png
media/PNG_dice/2.png
media/PNG_dice/2b.png
media/PNG_dice/3.png
media/PNG_dice/3b.png
media/PNG_dice/4.png
media/PNG_dice/4b.png
media/PNG_dice/5.png
media/PNG_dice/5b.png
media/PNG_dice/6.png
media/PNG_dice/6b.png
media/PNG_dice/7.png
media/PNG_dice/7b.png
media/PNG_dice/8.png
media/PNG_dice/8b.png
media/PNG_dice/9.png
media/PNG_dice/9b.png
media/SVG_dice/1.svg
media/SVG_dice/1b.svg
media/SVG_dice/2.svg
media/SVG_dice/2b.svg
media/SVG_dice/3.svg
media/SVG_dice/3b.svg
media/SVG_dice/4.svg
media/SVG_dice/4b.svg
media/SVG_dice/5.svg
media/SVG_dice/5b.svg
media/SVG_dice/6.svg
media/SVG_dice/6b.svg
media/SVG_dice/7.svg
media/SVG_dice/7b.svg
media/SVG_dice/8.svg
media/SVG_dice/8b.svg
media/SVG_dice/9.svg
media/SVG_dice/9b.svg
media/SVG_dice/.vscode/settings.json
media/SVG_dice/.vscode/.ropeproject/config.py
media/audio/10chip.mp3
media/audio/1chip.mp3
media/audio/1ding.mp3
media/audio/1mario.mp3
media/audio/1mario1ding.mp3
media/audio/1mario2ding.mp3
media/audio/2chip.mp3
media/audio/2ding.mp3
media/audio/2mario1ding.mp3
media/audio/2mario2ding.mp3
media/audio/3chip.mp3
media/audio/3ding.mp3
media/audio/3mario.mp3
media/audio/3mario1ding.mp3
media/audio/3mario2ding.mp3
media/audio/4chip.mp3
media/audio/4ding.mp3
media/audio/5chip.mp3
media/audio/5ding.mp3
media/audio/6ding.mp3
media/audio/7chip.mp3
media/audio/7ding.mp3
media/audio/8chip.mp3
media/audio/8ding.mp3
media/audio/9chip.mp3
media/audio/9ding.mp3
media/audio/chip_partial.mp3
media/audio/ding_partial.mp3
media/old_media/CallResume.wav
media/old_media/ChatIncoming.wav
media/old_media/ChatIncomingInitial.wav
media/old_media/ContactAuthRequest.wav
media/old_media/VoicemailReceived.wav
media/old_media/circle.png
media/old_media/ding.mp3
media/old_media/earth.png
media/old_media/mint1.png
media/old_media/mint2.svg
media/old_media/mint3.png
media/old_media/mint4.png
media/old_media/mint5.png
media/old_media/mint6.png
media/old_media/smile.jpg
media/old_media/star.png
media/old_media/unicursal_hexagram.png
